In [130]:
import pandas as pd
import numpy as np
import os
import geopandas as gpd

Merge all datasets together

1. Annual
2. Monthly
3. Compositions

# ShorelineMonitor

#### Annual Dataset

In [131]:
# #Filter entire dataset
# path_annual = r'P:\1000545-054-globalbeaches\03_Global_shorelines_update_2020\Transect_Mapping\Version_16102018\CSV\ShorelineMonitor_1984_2021_v1.5_set1.csv'
# df_tot = pd.read_csv(path_annual)
# df_annual = df_tot[df_tot['country_name'] == 'Netherlands']
# df_annual.to_csv('shoreline_NL.csv')

# Load filtered dataset
df_annual = pd.read_csv('shoreline_NL.csv')

df_annual.head(2)

,Unnamed: 0,transect_id,country_id,continent,country_name,changerate,changerate_unc,flag_sandy,no_shorelines,dt,...,Start_lat,Intersect_lon,Intersect_lat,End_lon,End_lat,coastline_idint,no_sedcomp,low_detect_shlines,err_changerate,err_timespan
0,601822,BOX_117_121_0,NLD,Europe,Netherlands,0.309788,0.130099,False,31.0,"[0.0, 2.0, 6.0, 7.0, 10.0, 12.0, 13.0, 14.0, 1...",...,12.295109,-68.401033,12.301967,-68.406639,12.308825,8637.0,1.0,1.0,1.0,1.0
1,601823,BOX_117_121_1,NLD,Europe,Netherlands,0.073617,0.124291,False,31.0,"[0.0, 2.0, 6.0, 7.0, 10.0, 12.0, 13.0, 14.0, 1...",...,12.292725,-68.404540,12.299226,-68.410576,12.305726,8637.0,1.0,1.0,1.0,1.0

In [132]:
#path_shorelineNL = r'P:\1000545-054-globalbeaches\15_GlobalCoastalAtlas\datasets\ShorelineMonitor\shoreline_NL.csv'
df_annual['changerate'] = df_annual['changerate'].round(2)
df_annual['color_cr'] = np.where(df_annual['changerate'] < 0, 'red', 'green')
df_annual['color_sandy'] = np.where(df_annual['flag_sandy'] == True, 'brown', 'lightgrey')
df_annual['flag_sandy'] = np.where(df_annual['flag_sandy'] == True, 'sand', 'other')
df_annual = df_annual.rename(columns= {'dt': 'dt_annual', 'dist': 'dist_annual'})
df_annual = df_annual.loc[:, ~df_annual.columns.str.contains('^Unnamed')]
#df.to_csv(path_shorelineNL, index = False)

df_annual.head(2)

,transect_id,country_id,continent,country_name,changerate,changerate_unc,flag_sandy,no_shorelines,dt_annual,dist_annual,...,Intersect_lat,End_lon,End_lat,coastline_idint,no_sedcomp,low_detect_shlines,err_changerate,err_timespan,color_cr,color_sandy
0,BOX_117_121_0,NLD,Europe,Netherlands,0.31,0.130099,other,31.0,"[0.0, 2.0, 6.0, 7.0, 10.0, 12.0, 13.0, 14.0, 1...","[929.9296367493945, 950.827504533188, 1247.116...",...,12.301967,-68.406639,12.308825,8637.0,1.0,1.0,1.0,1.0,green,lightgrey
1,BOX_117_121_1,NLD,Europe,Netherlands,0.07,0.124291,other,31.0,"[0.0, 2.0, 6.0, 7.0, 10.0, 12.0, 13.0, 14.0, 1...","[942.6100702962765, 943.915055522753, 1487.204...",...,12.299226,-68.410576,12.305726,8637.0,1.0,1.0,1.0,1.0,green,lightgrey

In [133]:
df_annual.columns

Index(['transect_id', 'country_id', 'continent', 'country_name', 'changerate',
       'changerate_unc', 'flag_sandy', 'no_shorelines', 'dt_annual',
       'dist_annual', 'RMSE', 'outliers_1', 'outliers_2', 'Timespan',
       'intercept', 'intercept_unc', 'Start_lon', 'Start_lat', 'Intersect_lon',
       'Intersect_lat', 'End_lon', 'End_lat', 'coastline_idint', 'no_sedcomp',
       'low_detect_shlines', 'err_changerate', 'err_timespan', 'color_cr',
       'color_sandy'],
      dtype='object')

In [134]:
print(len(df_annual))

print(np.unique(df_annual['flag_sandy']))

3072
['other' 'sand']

#### Monthly dataset

In [135]:
path_monthly = r'P:\11202268-hydraulic-engineering\MSc_students\Dante_van_der_Heijden\02. Data\ShorelineMonitor_monthly.csv'

df_monthly = pd.read_csv(path_monthly)
df_monthly = df_monthly.loc[:, ~df_monthly.columns.str.contains('^Unnamed')]
df_monthly = df_monthly.rename(columns= {'dt': 'dt_monthly', 'dist': 'dist_monthly', 'outliers_1': 'outliers_annual'})
df_monthly.head(2)

,transect_id,transect_origin_x,transect_origin_y,transect_end_x,transect_end_y,dt_monthly,dist_monthly,outliers,hotspot
0,BOX_117_067_110,-71.624166,10.990024,-71.607420,10.996413,"[0.0, 31.0, 62.0, 90.0, 396.0, 427.0, 455.0, 6...","[-2.857791642818455, 6.388898734846833, 6.3888...","[24, 74, 75, 76]",prograding_feature_polygon_2167
1,BOX_117_067_111,-71.625000,10.991483,-71.610989,11.002523,"[0.0, 31.0, 62.0, 90.0, 396.0, 427.0, 455.0, 6...","[-157.28827157623164, -157.28827157623164, -15...","[38, 39, 40, 83, 84]",prograding_feature_polygon_2167

In [136]:
df_merged = df_annual.merge(df_monthly, how = 'left', on= 'transect_id')
df_merged = df_merged.rename(columns= {'outliers_1': 'outliers_annual', 
                                   'outliers': 'outliers_monthly'
                                   }
                        )
len(df_merged)

3074

In [137]:
def color_line(hotspot_name):
    if not pd.isna(hotspot_name):
        if 'retreating' in hotspot_name:
            return 'red'
        else:
            return 'green'
    else: return 'green'

df_merged['color_line'] = df_merged['hotspot'].apply(lambda x: color_line(x))

df_merged[df_merged['hotspot'] == 'retreating_feature_polygon_65']['color_line']

1386    red
1387    red
1388    red
Name: color_line, dtype: object

#### Coast classification

In [138]:
path_class = r'P:\1000545-054-globalbeaches\07_Muddy_Coasts\Paper Final Scripts and Data\Data\WorldClassifiedTransects2020.csv'

df_class = pd.read_csv(path_class)

df_class.head(2)

,Unnamed: 0,Unnamed: 0.1,transect_id,country_name,continent,flag_sandy,New_Start_lon,New_Start_lat,New_End_lon,New_End_lat,...,intertidal,gsw,maxtemp,mintemp,mhhw,mllw,tidal range,prediction,Unnamed: 0.1.1,index
0,0,0,BOX_028_000_0,Chile,South America,True,-72.982524,-54.459554,-72.995211,-54.448287,...,0,480,11.5,-0.8,0.109336,-0.082949,0.192285,2.0,0.0,NaN
1,1,1,BOX_028_000_1,Chile,South America,True,-72.986282,-54.460984,-72.998969,-54.449717,...,0,640,11.5,-0.8,0.109336,-0.082949,0.192285,2.0,1.0,NaN

In [139]:
def give_label(prediction):
    label_dict = {0: 'sand', 1 : 'mud', 2: 'rocky', 3: 'vegetated', 4: 'other'}

    if not pd.isna(prediction): return label_dict[prediction]
    else: return 'other'

df_class['prediction_label'] = df_class.prediction.apply(lambda x: give_label(x))

df_class['prediction_label']

0              rocky
1              rocky
2              rocky
3              rocky
4              rocky
             ...
1826990    vegetated
1826991        rocky
1826992        rocky
1826993         sand
1826994         sand
Name: prediction_label, Length: 1826995, dtype: object

In [140]:
df_class = df_class[['transect_id', 'prediction_label']]

df_merged2 = df_merged.merge(df_class, how = 'left', on= 'transect_id')

#### Hotspots

In [141]:
path_kras = r'P:\1000545-054-globalbeaches\00_Global_Hindcasted_Shorelines\06_Drivers_Kras'

df_hotspot_acc = pd.read_csv(os.path.join(path_kras, 'hot_acc_inc_cluster.csv'))

df_hotspot_acc.head(2)

,continent,country,country_id,spatial_scale,width_range,min_spatial_signature,max_spatial_signature,spatial_magnitude_range,perc_larg_cr,perc_extr_cr,...,naminmean,namaxstds,naminstds,namaxbfit,naminbfit,nalinfval1,nalinfval2,nalinfstd1,nalinfstd2,cluster_id
0,Europe,Norway,NOR,2.5,3.3,0.4,1.0,1.2,80.0,20.0,...,-66.075438,57.697578,-43.290151,9.350650,-47.018079,1.686576,2.975714,0.457793,8.523640,2
1,Europe,Norway,NOR,2.5,2.1,2.5,5.0,1.4,60.0,40.0,...,-51.344686,57.606149,-16.085220,89.732411,-7.824512,8.213295,278.548863,1.774665,32.017823,0

#### Future Projections

In [142]:
df_merged2 = gpd.GeoDataFrame(df_merged2, geometry= gpd.points_from_xy(df_merged2.Intersect_lon, df_merged2.Intersect_lat))
df_merged2.crs = {"init": "epsg:3587"}
df_merged2 = df_merged2.to_crs({'init': 'epsg:32611'})

c:\Users\heijd_de\Anaconda3\envs\dash_env\lib\site-packages\pyproj\crs\crs.py:131: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)

In [143]:
import functools

basepath_vous = r'P:\1000545-054-globalbeaches\01_Global_Future_Shorelines\globalErosionProjectionsDataset_linear'

df_vous_45_2050 = pd.read_csv(os.path.join(basepath_vous, 'globalErosionProjections_Long_Term_Change_RCP45_2050.csv'), header= None)
df_vous_45_2050 = df_vous_45_2050.rename(columns= {0: 'latitude', 1: 'longitude', 2: 'p1_45_2050', 3: 'p5_45_2050', 
                                                   4: 'p17_45_2050', 5: 'p50_45_2050', 6: 'p83_45_2050', 7: 
                                                   'p95_45_2050', 8: 'p99_45_2050'})
df_vous_45_2050 = gpd.GeoDataFrame(df_vous_45_2050, geometry= gpd.points_from_xy(df_vous_45_2050.longitude, 
                                                                                 df_vous_45_2050.latitude))
df_vous_45_2050.crs = {"init": "epsg:3587"}
df_vous_45_2050 = df_vous_45_2050.to_crs({'init': 'epsg:32611'})


df_vous_45_2100 = pd.read_csv(os.path.join(basepath_vous, 'globalErosionProjections_Long_Term_Change_RCP45_2100.csv'), header= None)
df_vous_45_2100 = df_vous_45_2100.rename(columns= {0: 'latitude', 1: 'longitude', 2: 'p1_45_2100', 3: 'p5_45_2100', 
                                                   4: 'p17_45_2100', 5: 'p50_45_2100', 6: 'p83_45_2100', 7: 
                                                   'p95_45_2100', 8: 'p99_45_2100'})
df_vous_45_2100 = gpd.GeoDataFrame(df_vous_45_2100, geometry= gpd.points_from_xy(df_vous_45_2100.longitude, 
                                                                                 df_vous_45_2100.latitude))
df_vous_45_2100.crs = {"init": "epsg:3587"}
df_vous_45_2100 = df_vous_45_2100.to_crs({'init': 'epsg:32611'})

df_vous_85_2050 = pd.read_csv(os.path.join(basepath_vous, 'globalErosionProjections_Long_Term_Change_RCP85_2050.csv'), header= None)
df_vous_85_2050 = df_vous_85_2050.rename(columns= {0: 'latitude', 1: 'longitude', 2: 'p1_85_2050', 3: 'p5_85_2050', 
                                                   4: 'p17_85_2050', 5: 'p50_85_2050', 6: 'p83_85_2050', 7: 
                                                   'p95_85_2050', 8: 'p99_85_2050'})
df_vous_85_2050 = gpd.GeoDataFrame(df_vous_85_2050, geometry= gpd.points_from_xy(df_vous_85_2050.longitude, 
                                                                                 df_vous_85_2050.latitude))
df_vous_85_2050.crs = {"init": "epsg:3587"}
df_vous_85_2050 = df_vous_85_2050.to_crs({'init': 'epsg:32611'})


df_vous_85_2100 = pd.read_csv(os.path.join(basepath_vous, 'globalErosionProjections_Long_Term_Change_RCP85_2100.csv'), header= None)
df_vous_85_2100 = df_vous_85_2100.rename(columns= {0: 'latitude', 1: 'longitude', 2: 'p1_85_2100', 3: 'p5_85_2100', 
                                                   4: 'p17_85_2100', 5: 'p50_85_2100', 6: 'p83_85_2100', 7: 
                                                   'p95_85_2100', 8: 'p99_85_2100'})
df_vous_85_2100 = gpd.GeoDataFrame(df_vous_85_2100, geometry= gpd.points_from_xy(df_vous_85_2100.longitude, 
                                                                                 df_vous_85_2100.latitude))
df_vous_85_2100.crs = {"init": "epsg:3587"}
df_vous_85_2100 = df_vous_85_2100.to_crs({'init': 'epsg:32611'})

df_vous_45_2050.head(2)

,latitude,longitude,p1_45_2050,p5_45_2050,p17_45_2050,p50_45_2050,p83_45_2050,p95_45_2050,p99_45_2050,geometry
0,-50.378,-74.386,11.945,13.411,13.755,14.977,15.816,16.467,17.391,POINT (-2378803.825 2811078.666)
1,-50.386,-74.303,-26.371,-25.529,-24.667,-23.448,-22.261,-21.539,-21.667,POINT (-2378803.747 2811078.703)

In [144]:
dfs_vous = [df_vous_45_2050, df_vous_45_2100, df_vous_85_2050, df_vous_85_2100]
df_merged2_sandy = df_merged2[df_merged2['flag_sandy'] == 'sand']

joined_vous = []
for dfv in dfs_vous:
    df_sjn = gpd.sjoin_nearest(df_merged2_sandy[['transect_id', 'geometry']], dfv, max_distance=500)
    joined_vous.append(df_sjn)

df_vous_tot = joined_vous[0].copy()
for df_jv in joined_vous[1:]:
    df_vous_tot = df_vous_tot.merge(df_jv, on = 'transect_id', how = 'left')

c:\Users\heijd_de\Anaconda3\envs\dash_env\lib\site-packages\pandas\core\frame.py:9203: FutureWarning: Passing 'suffixes' which cause duplicate columns {'index_right_x', 'longitude_x', 'latitude_x', 'geometry_x'} in the result is deprecated and will raise a MergeError in a future version.
  validate=validate,

In [155]:
df_vous_tot = df_vous_tot.drop_duplicates(subset='transect_id', keep=False)
#df_vous_tot = df_vous_tot[df_vous_tot.duplicated(subset = 'transect_id') == True]

In [156]:
df_merged3 = df_merged2.merge(df_vous_tot, on = 'transect_id', how = 'left')

In [157]:
len(df_merged2), len(df_merged3)

(3074, 3074)

In [147]:
df_merged3 = gpd.sjoin_nearest(df_merged2, df_vous_45_2050, max_distance=500)

In [148]:
df_merged3.head(2)

,transect_id,country_id,continent,country_name,changerate,changerate_unc,flag_sandy,no_shorelines,dt_annual,dist_annual,...,index_right,latitude,longitude,p1_45_2050,p5_45_2050,p17_45_2050,p50_45_2050,p83_45_2050,p95_45_2050,p99_45_2050
0,BOX_117_121_0,NLD,Europe,Netherlands,0.31,0.130099,other,31.0,"[0.0, 2.0, 6.0, 7.0, 10.0, 12.0, 13.0, 14.0, 1...","[929.9296367493945, 950.827504533188, 1247.116...",...,151510,12.231,-68.389,-80.766,-80.236,-79.704,-78.969,-78.221,-77.687,-77.387
1,BOX_117_121_1,NLD,Europe,Netherlands,0.07,0.124291,other,31.0,"[0.0, 2.0, 6.0, 7.0, 10.0, 12.0, 13.0, 14.0, 1...","[942.6100702962765, 943.915055522753, 1487.204...",...,151510,12.231,-68.389,-80.766,-80.236,-79.704,-78.969,-78.221,-77.687,-77.387

In [149]:
len(df_merged3)

3081

In [150]:
df_merged2.to_csv('all_data.csv')