In [1]:
import pandas as pd
import os

In [3]:
path = r'p:\11208003-latedeo2022\020_InternationalDeltaPortfolio\00_mapping_global_threat_of_land_subsidence'

df1 = pd.read_excel(os.path.join(path, 'abb8549_data_s1.xlsx')).dropna(subset = 'Reference')
                    
df1

,Name,Country,Area (km2),WGS84 latitude (degrees),WGS84 longitude (degrees),Reference
0,Chiayi,Taiwan,340.0,120.213276,23.425612,1
1,Acque Albule Basin,Italy,NaN,12.732554,41.960456,2
2,Aguascalientes,Mexico,83.0,-102.290222,21.983482,3.4
3,Ahuacatlan,Mexico,5.0,-104.489734,21.055486,3
4,Alamosa,United States,127.0,-105.962837,37.389435,5
...,...,...,...,...,...,...
196,Xuchang-Zhoukou,China,NaN,114.249460,33.786556,20
197,Yangon,Myanmar,NaN,96.219570,16.848218,182
198,Yilan,Taiwan,142.0,121.802806,24.726163,183.184
199,Yunlin,Taiwan,853.0,120.291439,23.683258,121.185
200,Zamora,Mexico,16.0,-102.280838,20.004586,3

In [7]:
df2 = pd.read_excel(os.path.join(path, 'abb8549_data_s3.xlsx')).columns
                    
df2

Index(['Country', 'Number of subsidene events (NSE)', 'Normalized NSE',
       'Potential subsidence extent in 2010 (SHE) (1000 km2)',
       'Potential exposed population in 2010 (Million)',
       'Potential exposed population in non-floodable areas in 2010 (EPNF) (Million)',
       'Potenital exposed population in river floodable areas in 2010 (EPRF) (Million)',
       'Potential exposed populaiton in coastal flood areas lower than 5 m a.s.l and above the mean sea level (EPCF) (Million)',
       'Potential exposed populaiton below the sea level in 2010 (EPBS) (Million)',
       'Normalized EPNF 2010', 'Normalized EPRF 2010', 'Normalized EPCF 2010',
       'Normalized EPBS 2010', 'Potential exposed population index (EP 2010)',
       'Normalized EP 2010',
       'Population density in potential subsidence (PDS) (inhabitants / km2)',
       'Normalized PDS in 2010',
       'Relative exposure per country in 2010 (RE): obtained dividing the potentially exposed population over the total population of each country in 2010 (%)',
       'Normalized RE', 'Exposed GDP (EGDP) (Billion US$)', 'Normalized EGDP',
       'Potential global subsidence index in 2010 (PGSI)',
       'Potential subsidence extent in 2040 (SHE) (1000 km2)',
       'Potential exposed population in 2040 (Million)',
       'Potential exposed population in non-floodable areas in 2040 (EPNF) (Million)',
       'Potential exposed population in river floodable areas in 2040 (EPRF) (Million)',
       'Potential exposed populaiton in coastal flood areas lower than 5 m a.s.l and above the mean sea level (EPCF) (Million)2',
       'Potential exposed populaiton below the sea level in 2040 (EPBS) (Million)',
       'Normalized EPNF 2040', 'Normalized EPRF 2040', 'Normalized EPCF 2040',
       'Normalized EPBS 2040', 'Potential exposed population index (EP 2040)',
       'Normalized EP 2040',
       'Population density in potential subsidence areas (PDS) (inhabitants / km2)2',
       'Normalized PDS 2040',
       'Relative exposure per country in 2040 (RE): obtained dividing the potentially exposed population over the total population of each country in 2040 (%)',
       'Normalized RE 2040', 'Exposed GDP (EGDP) (Billion US$) in 2040',
       'Normalized EGDP 2040', 'Potential subsidence index 2040',
       'Potential exposed population change ratio (EPCR) (2040 / 2010)'],
      dtype='object')