pystac-client 0.4 used due to depreciation issues

In [1]:
# pip install  pystac-client==0.4

In [2]:
# pip install utm

In [3]:
# pip show pystac_client

In [4]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
from shapely.geometry import Point, Polygon
from scipy.spatial import KDTree
import numpy as np

# Additional imports
import pystac_client
import xarray as xr
import pathlib
import os
import geopandas as gpd
import matplotlib as mpl
from matplotlib import colors
import rasterio

import cartopy.crs as ccrs
import cartopy
import plotly.graph_objects as go
import plotly.express as px
from rasterio.plot import show

import matplotlib.colors as mcolors
from shapely.geometry import Point
import pandas as pd

from tqdm import tqdm

import webbrowser
from pathlib import Path
import os
import time

from itertools import compress
import pandas as pd

import matplotlib.pyplot as plt
import cartopy.crs as ccrs
import cartopy
import plotly.graph_objects as go
import plotly.express as px
import plotly.io as pio

from tqdm import tqdm

from shapely.geometry import box
import utm

Cannot find header.dxf (GDAL_DATA is not defined)

In [5]:
template_df=pd.read_csv(r"Arjen_Vector_Template.csv")
template_df.head()

,transect_id,country_id,continent,country_name,Start_lon,Start_lat,Intersect_lon,Intersect_lat,End_lon,End_lat
0,BOX_028_183_0,CHL,South America,Chile,-74.386310,-50.377659,-74.390966,-50.382558,-74.395623,-50.387456
1,BOX_028_183_1,CHL,South America,Chile,-74.382469,-50.379144,-74.387125,-50.384042,-74.391782,-50.388940
2,BOX_028_183_2,CHL,South America,Chile,-74.378628,-50.380629,-74.383284,-50.385527,-74.387941,-50.390425
3,BOX_028_183_3,CHL,South America,Chile,-74.373950,-50.382583,-74.379517,-50.387079,-74.385083,-50.391574
4,BOX_028_183_4,CHL,South America,Chile,-74.370425,-50.384358,-74.375991,-50.388853,-74.381558,-50.393348

In [6]:
len(template_df)

1739826

In [7]:

circle_center_all = gpd.GeoDataFrame(
    template_df, geometry=gpd.points_from_xy(template_df.Intersect_lon, template_df.Intersect_lat), crs="EPSG:4326"
)
circle_center_all.head()

,transect_id,country_id,continent,country_name,Start_lon,Start_lat,Intersect_lon,Intersect_lat,End_lon,End_lat,geometry
0,BOX_028_183_0,CHL,South America,Chile,-74.386310,-50.377659,-74.390966,-50.382558,-74.395623,-50.387456,POINT (-74.39097 -50.38256)
1,BOX_028_183_1,CHL,South America,Chile,-74.382469,-50.379144,-74.387125,-50.384042,-74.391782,-50.388940,POINT (-74.38713 -50.38404)
2,BOX_028_183_2,CHL,South America,Chile,-74.378628,-50.380629,-74.383284,-50.385527,-74.387941,-50.390425,POINT (-74.38328 -50.38553)
3,BOX_028_183_3,CHL,South America,Chile,-74.373950,-50.382583,-74.379517,-50.387079,-74.385083,-50.391574,POINT (-74.37952 -50.38708)
4,BOX_028_183_4,CHL,South America,Chile,-74.370425,-50.384358,-74.375991,-50.388853,-74.381558,-50.393348,POINT (-74.37599 -50.38885)

In [8]:
IPCC=gpd.read_file(r"IPCC-WGI-reference-regions-v4.gpkg")
IPCC.head()

,Continent,Type,Name,Acronym,geometry
0,POLAR,Land,Greenland/Iceland,GIC,"MULTIPOLYGON (((-10.00000 62.00000, -10.43750 ..."
1,NORTH-AMERICA,Land,N.W.North-America,NWN,"MULTIPOLYGON (((-105.00000 50.00000, -105.4386..."
2,NORTH-AMERICA,Land,N.E.North-America,NEN,"MULTIPOLYGON (((-50.00000 50.00000, -50.44000 ..."
3,NORTH-AMERICA,Land,W.North-America,WNA,"MULTIPOLYGON (((-130.00000 50.00000, -129.5614..."
4,NORTH-AMERICA,Land,C.North-America,CNA,"MULTIPOLYGON (((-90.00000 50.00000, -90.00000 ..."

In [9]:
IPCC["Acronym"].values

array(['GIC', 'NWN', 'NEN', 'WNA', 'CNA', 'ENA', 'NCA', 'SCA', 'CAR',
       'NWS', 'NSA', 'NES', 'SAM', 'SWS', 'SES', 'SSA', 'NEU', 'WCE',
       'EEU', 'MED', 'SAH', 'WAF', 'CAF', 'NEAF', 'SEAF', 'WSAF', 'ESAF',
       'MDG', 'RAR', 'WSB', 'ESB', 'RFE', 'WCA', 'ECA', 'TIB', 'EAS',
       'ARP', 'SAS', 'SEA', 'NAU', 'CAU', 'EAU', 'SAU', 'NZ', 'EAN',
       'WAN', 'ARO', 'NPO', 'EPO', 'SPO', 'NAO', 'EAO', 'SAO', 'ARS',
       'BOB', 'EIO', 'SIO', 'SOO'], dtype=object)

In [10]:
IPCC["Acronym"][5:]

5      ENA
6      NCA
7      SCA
8      CAR
9      NWS
10     NSA
11     NES
12     SAM
13     SWS
14     SES
15     SSA
16     NEU
17     WCE
18     EEU
19     MED
20     SAH
21     WAF
22     CAF
23    NEAF
24    SEAF
25    WSAF
26    ESAF
27     MDG
28     RAR
29     WSB
30     ESB
31     RFE
32     WCA
33     ECA
34     TIB
35     EAS
36     ARP
37     SAS
38     SEA
39     NAU
40     CAU
41     EAU
42     SAU
43      NZ
44     EAN
45     WAN
46     ARO
47     NPO
48     EPO
49     SPO
50     NAO
51     EAO
52     SAO
53     ARS
54     BOB
55     EIO
56     SIO
57     SOO
Name: Acronym, dtype: object

In [11]:
IPCC["Acronym"].unique()

array(['GIC', 'NWN', 'NEN', 'WNA', 'CNA', 'ENA', 'NCA', 'SCA', 'CAR',
       'NWS', 'NSA', 'NES', 'SAM', 'SWS', 'SES', 'SSA', 'NEU', 'WCE',
       'EEU', 'MED', 'SAH', 'WAF', 'CAF', 'NEAF', 'SEAF', 'WSAF', 'ESAF',
       'MDG', 'RAR', 'WSB', 'ESB', 'RFE', 'WCA', 'ECA', 'TIB', 'EAS',
       'ARP', 'SAS', 'SEA', 'NAU', 'CAU', 'EAU', 'SAU', 'NZ', 'EAN',
       'WAN', 'ARO', 'NPO', 'EPO', 'SPO', 'NAO', 'EAO', 'SAO', 'ARS',
       'BOB', 'EIO', 'SIO', 'SOO'], dtype=object)

In [12]:
redo=[]
blanks=[]
for region_acronym in IPCC["Acronym"]:
    
    region_gdf=IPCC.loc[IPCC["Acronym"]==region_acronym,:]
    # region_gdf=IPCC
    


    # circle_center=region_gdf.sjoin(circle_center_all)
    circle_center=circle_center_all.sjoin(region_gdf)
    
    template_df=circle_center
    print(len(template_df))

    if len(template_df) == 0:
        blanks.append(region_acronym)
        print(blanks)
        continue

    if len(template_df) < 100000:
        redo.append(region_acronym)
        print(redo)
        continue
    template_df.index=range(0,len(template_df.index))


    for check_distance_m in [1000,2000]:#1000m buffer radius
        buffer_circles=[]   
        # buffer_circles = gpd.GeoDataFrame([Polygon(p.buffer(check_distance)) for p in circle_center[0][:5]])
        for index,transect in tqdm(template_df.iterrows(),desc=f"{check_distance_m}_buffer_circles created_{region_acronym}"):
            
            lon1=transect.Intersect_lon
            lat1=transect.Intersect_lat


            utm_zone = utm.from_latlon(lat1, lon1)
            utm_zone
            if lat1>=0:
                transform = f"EPSG:326{utm_zone[2]}"
            else:
                transform = f"EPSG:327{utm_zone[2]}"

            # Transform beach coordinates to UTM
            transect_utm = gpd.GeoDataFrame({'geometry': [Point(lon1, lat1)]}, crs="EPSG:4326")
            transect_utm =transect_utm.to_crs(transform)

            # Create buffer circle
            buffer_geom = transect_utm.buffer(check_distance_m).geometry.iloc[0]
            buffer_circle = gpd.GeoDataFrame({'geometry': [buffer_geom]}, crs=transform)

            buffer_circle = buffer_circle.to_crs("EPSG:4326")
            buffer_circle["Intersect_lat"]=lat1
            buffer_circle["Intersect_lon"]=lon1
            buffer_circle["transect_id"]=transect["transect_id"]
            buffer_circle["IPCC Region"]=transect["Name"]
            buffer_circle["country_name"]=transect["country_name"]

            buffer_circles.append(buffer_circle)


    
        buffer_circles_gdf = pd.concat([pd.DataFrame(circle) for circle in buffer_circles], ignore_index=True)

        buffer_circles_gdf['geometry'] = buffer_circles_gdf['geometry'].apply(Polygon)
        buffer_circles_gdf = gpd.GeoDataFrame(buffer_circles_gdf, geometry='geometry')


        buffer_circles_gdf.to_file(f"Global_buffer_circles_{region_acronym}_{check_distance_m/1000}km.gpkg", driver="GPKG")

19749
['GIC']
76531
['GIC', 'NWN']
60203
['GIC', 'NWN', 'NEN']
27500
['GIC', 'NWN', 'NEN', 'WNA']
5572
['GIC', 'NWN', 'NEN', 'WNA', 'CNA']
106310

1000_buffer_circles created_ENA: 106310it [30:21, 58.38it/s]
2000_buffer_circles created_ENA: 106310it [33:55, 52.23it/s]

26603
['GIC', 'NWN', 'NEN', 'WNA', 'CNA', 'NCA']
27720
['GIC', 'NWN', 'NEN', 'WNA', 'CNA', 'NCA', 'SCA']
37509
['GIC', 'NWN', 'NEN', 'WNA', 'CNA', 'NCA', 'SCA', 'CAR']
13972
['GIC', 'NWN', 'NEN', 'WNA', 'CNA', 'NCA', 'SCA', 'CAR', 'NWS']
16879
['GIC', 'NWN', 'NEN', 'WNA', 'CNA', 'NCA', 'SCA', 'CAR', 'NWS', 'NSA']
18439
['GIC', 'NWN', 'NEN', 'WNA', 'CNA', 'NCA', 'SCA', 'CAR', 'NWS', 'NSA', 'NES']
0
['SAM']
41720
['GIC', 'NWN', 'NEN', 'WNA', 'CNA', 'NCA', 'SCA', 'CAR', 'NWS', 'NSA', 'NES', 'SWS']
12657
['GIC', 'NWN', 'NEN', 'WNA', 'CNA', 'NCA', 'SCA', 'CAR', 'NWS', 'NSA', 'NES', 'SWS', 'SES']
140744

1000_buffer_circles created_SSA: 140744it [47:10, 49.73it/s]
2000_buffer_circles created_SSA: 140744it [48:58, 47.89it/s]

263426

1000_buffer_circles created_NEU: 167641it [59:30, 51.47it/s]

In [ ]:
buffer_circles_gdf = gpd.read_file(f"Global_buffer_circles_1km.gpkg", driver="GPKG")
buffer_circles_gdf

,Intersect_lat,Intersect_lon,geometry
0,12.250684,-71.879805,"POLYGON ((-71.86144 12.25088, -71.86151 12.249..."
1,12.247308,-71.876981,"POLYGON ((-71.85862 12.24750, -71.85868 12.245..."
2,12.243144,-71.875632,"POLYGON ((-71.85727 12.24334, -71.85734 12.241..."
3,12.238772,-71.875233,"POLYGON ((-71.85687 12.23896, -71.85694 12.237..."
4,12.234400,-71.874835,"POLYGON ((-71.85647 12.23459, -71.85654 12.232..."
...,...,...,...
37504,17.965259,-71.668186,"POLYGON ((-71.64932 17.96552, -71.64938 17.963..."
37505,17.961418,-71.666228,"POLYGON ((-71.64736 17.96168, -71.64742 17.959..."
37506,17.957442,-71.664583,"POLYGON ((-71.64572 17.95770, -71.64578 17.955..."
37507,17.953466,-71.662937,"POLYGON ((-71.64407 17.95372, -71.64413 17.951..."
37508,17.949491,-71.661291,"POLYGON ((-71.64242 17.94975, -71.64249 17.947..."

In [ ]:
buffer_circles_gdf.plot()

In [ ]:
buffer_circles_gdf = gpd.read_file(f"Global_buffer_circles_2km.gpkg", driver="GPKG")
buffer_circles_gdf

,Intersect_lat,Intersect_lon,geometry
0,12.250684,-71.879805,"POLYGON ((-71.86144 12.25088, -71.86151 12.249..."
1,12.247308,-71.876981,"POLYGON ((-71.85862 12.24750, -71.85868 12.245..."
2,12.243144,-71.875632,"POLYGON ((-71.85727 12.24334, -71.85734 12.241..."
3,12.238772,-71.875233,"POLYGON ((-71.85687 12.23896, -71.85694 12.237..."
4,12.234400,-71.874835,"POLYGON ((-71.85647 12.23459, -71.85654 12.232..."
...,...,...,...
37504,17.965259,-71.668186,"POLYGON ((-71.64932 17.96552, -71.64938 17.963..."
37505,17.961418,-71.666228,"POLYGON ((-71.64736 17.96168, -71.64742 17.959..."
37506,17.957442,-71.664583,"POLYGON ((-71.64572 17.95770, -71.64578 17.955..."
37507,17.953466,-71.662937,"POLYGON ((-71.64407 17.95372, -71.64413 17.951..."
37508,17.949491,-71.661291,"POLYGON ((-71.64242 17.94975, -71.64249 17.947..."

In [ ]:
buffer_circles_gdf.plot()