In [1]:
import pandas as pd
import numpy as np

Merge all datasets together

1. Annual
2. Monthly
3. Compositions

# ShorelineMonitor

#### Annual Dataset

In [2]:
# #Filter entire dataset
# path_annual = r'P:\1000545-054-globalbeaches\03_Global_shorelines_update_2020\Transect_Mapping\Version_16102018\CSV\ShorelineMonitor_1984_2021_v1.5_set1.csv'
# df_tot = pd.read_csv(path_annual)
# df_NL = df_tot[df_tot['country_name'] == 'Netherlands']
# df_NL.to_csv('shoreline_NL.csv')

# Load filtered dataset
df_NL = pd.read_csv('shoreline_NL.csv')

df_NL.head(2)

,Unnamed: 0,transect_id,country_id,continent,country_name,changerate,changerate_unc,flag_sandy,no_shorelines,dt,...,Start_lat,Intersect_lon,Intersect_lat,End_lon,End_lat,coastline_idint,no_sedcomp,low_detect_shlines,err_changerate,err_timespan
0,601822,BOX_117_121_0,NLD,Europe,Netherlands,0.309788,0.130099,False,31.0,"[0.0, 2.0, 6.0, 7.0, 10.0, 12.0, 13.0, 14.0, 1...",...,12.295109,-68.401033,12.301967,-68.406639,12.308825,8637.0,1.0,1.0,1.0,1.0
1,601823,BOX_117_121_1,NLD,Europe,Netherlands,0.073617,0.124291,False,31.0,"[0.0, 2.0, 6.0, 7.0, 10.0, 12.0, 13.0, 14.0, 1...",...,12.292725,-68.404540,12.299226,-68.410576,12.305726,8637.0,1.0,1.0,1.0,1.0

In [3]:
#path_shorelineNL = r'P:\1000545-054-globalbeaches\15_GlobalCoastalAtlas\datasets\ShorelineMonitor\shoreline_NL.csv'
df_NL['changerate'] = df_NL['changerate'].round(2)
df_NL['color_cr'] = np.where(df_NL['changerate'] < 0, 'red', 'green')
df_NL['color_sandy'] = np.where(df_NL['flag_sandy'] == True, 'brown', 'lightgrey')
df_NL['flag_sandy'] = np.where(df_NL['flag_sandy'] == True, 'sand', 'other')
df_NL = df_NL.rename(columns= {'dt': 'dt_annual', 'dist': 'dist_annual'})
df_NL = df_NL.loc[:, ~df_NL.columns.str.contains('^Unnamed')]
#df.to_csv(path_shorelineNL, index = False)

df_NL.head(2)

,transect_id,country_id,continent,country_name,changerate,changerate_unc,flag_sandy,no_shorelines,dt_annual,dist_annual,...,Intersect_lat,End_lon,End_lat,coastline_idint,no_sedcomp,low_detect_shlines,err_changerate,err_timespan,color_cr,color_sandy
0,BOX_117_121_0,NLD,Europe,Netherlands,0.31,0.130099,other,31.0,"[0.0, 2.0, 6.0, 7.0, 10.0, 12.0, 13.0, 14.0, 1...","[929.9296367493945, 950.827504533188, 1247.116...",...,12.301967,-68.406639,12.308825,8637.0,1.0,1.0,1.0,1.0,green,lightgrey
1,BOX_117_121_1,NLD,Europe,Netherlands,0.07,0.124291,other,31.0,"[0.0, 2.0, 6.0, 7.0, 10.0, 12.0, 13.0, 14.0, 1...","[942.6100702962765, 943.915055522753, 1487.204...",...,12.299226,-68.410576,12.305726,8637.0,1.0,1.0,1.0,1.0,green,lightgrey

In [4]:
print(len(df_NL))

print(np.unique(df_NL['flag_sandy']))

3072
['other' 'sand']

#### Monthly dataset

In [5]:
path_monthly = r'P:\11202268-hydraulic-engineering\MSc_students\Dante_van_der_Heijden\02. Data\ShorelineMonitor_monthly.csv'

df_monthly = pd.read_csv(path_monthly)
df_monthly = df_monthly.loc[:, ~df_monthly.columns.str.contains('^Unnamed')]
df_monthly = df_monthly.rename(columns= {'dt': 'dt_monthly', 'dist': 'dist_monthly', 'outliers_1': 'outliers_annual'})
df_monthly.head(2)

,transect_id,transect_origin_x,transect_origin_y,transect_end_x,transect_end_y,dt_monthly,dist_monthly,outliers,hotspot
0,BOX_117_067_110,-71.624166,10.990024,-71.607420,10.996413,"[0.0, 31.0, 62.0, 90.0, 396.0, 427.0, 455.0, 6...","[-2.857791642818455, 6.388898734846833, 6.3888...","[24, 74, 75, 76]",prograding_feature_polygon_2167
1,BOX_117_067_111,-71.625000,10.991483,-71.610989,11.002523,"[0.0, 31.0, 62.0, 90.0, 396.0, 427.0, 455.0, 6...","[-157.28827157623164, -157.28827157623164, -15...","[38, 39, 40, 83, 84]",prograding_feature_polygon_2167

In [6]:
df_both = df_NL.merge(df_monthly, how = 'left', on= 'transect_id')
df_both = df_both.rename(columns= {'outliers_1': 'outliers_annual', 
                                   'outliers': 'outliers_monthly'
                                   }
                        )
len(df_both)

3074

In [7]:
def color_line(hotspot_name):
    if not pd.isna(hotspot_name):
        if 'retreating' in hotspot_name:
            return 'red'
        else:
            return 'green'
    else: return 'green'

df_both['color_line'] = df_both['hotspot'].apply(lambda x: color_line(x))

df_both[df_both['hotspot'] == 'retreating_feature_polygon_65']['color_line']

1386    red
1387    red
1388    red
Name: color_line, dtype: object

#### Coast classification

In [8]:
path_class = r'P:\1000545-054-globalbeaches\07_Muddy_Coasts\Paper Final Scripts and Data\Data\WorldClassifiedTransects2020.csv'

df_class = pd.read_csv(path_class)

df_class.head(2)

,Unnamed: 0.2,Unnamed: 0,transect_id,country_name,continent,flag_sandy,New_Start_lon,New_Start_lat,New_End_lon,New_End_lat,...,intertidal,gsw,maxtemp,mintemp,mhhw,mllw,tidal range,prediction,Unnamed: 0.1,index
0,0,0,BOX_028_000_0,Chile,South America,True,-72.982524,-54.459554,-72.995211,-54.448287,...,0,480,11.5,-0.8,0.109336,-0.082949,0.192285,2.0,0.0,NaN
1,1,1,BOX_028_000_1,Chile,South America,True,-72.986282,-54.460984,-72.998969,-54.449717,...,0,640,11.5,-0.8,0.109336,-0.082949,0.192285,2.0,1.0,NaN

In [9]:
df_class.columns

Index(['Unnamed: 0.2', 'Unnamed: 0', 'transect_id', 'country_name',
       'continent', 'flag_sandy', 'New_Start_lon', 'New_Start_lat',
       'New_End_lon', 'New_End_lat', 'Center_lon', 'Center_lat', 'Length',
       'box_id', 'abs lat', 'sand', 'mud', 'water', 'vegetation', 'other',
       'turbid', 'dry', 'height max', 'height var', 'mangrove', 'intertidal',
       'gsw', 'maxtemp', 'mintemp', 'mhhw', 'mllw', 'tidal range',
       'prediction', 'Unnamed: 0.1', 'index'],
      dtype='object')

In [10]:
df_class.sand.iloc[0], df_class.mud.iloc[0], df_class.water.iloc[0], df_class.vegetation.iloc[0], df_class.other.iloc[0]

(0, 120, 580, 550, 80)

In [11]:
def give_label(prediction):
    label_dict = {0: 'sand', 1 : 'mud', 2: 'rocky', 3: 'vegetated', 4: 'other'}

    if not pd.isna(prediction): return label_dict[prediction]
    else: return 'other'

df_class['prediction_label'] = df_class.prediction.apply(lambda x: give_label(x))

df_class['prediction_label']

0              rocky
1              rocky
2              rocky
3              rocky
4              rocky
             ...
1826990    vegetated
1826991        rocky
1826992        rocky
1826993         sand
1826994         sand
Name: prediction_label, Length: 1826995, dtype: object

In [12]:
df_class = df_class[['transect_id', 'prediction_label']]

df_both2 = df_both.merge(df_class, how = 'left', on= 'transect_id')

In [13]:
df_both2.to_csv('all_data.csv')

In [14]:
df_both2.columns, len(df_both2)

(Index(['transect_id', 'country_id', 'continent', 'country_name', 'changerate',
        'changerate_unc', 'flag_sandy', 'no_shorelines', 'dt_annual',
        'dist_annual', 'RMSE', 'outliers_annual', 'outliers_2', 'Timespan',
        'intercept', 'intercept_unc', 'Start_lon', 'Start_lat', 'Intersect_lon',
        'Intersect_lat', 'End_lon', 'End_lat', 'coastline_idint', 'no_sedcomp',
        'low_detect_shlines', 'err_changerate', 'err_timespan', 'color_cr',
        'color_sandy', 'transect_origin_x', 'transect_origin_y',
        'transect_end_x', 'transect_end_y', 'dt_monthly', 'dist_monthly',
        'outliers_monthly', 'hotspot', 'color_line', 'prediction_label'],
       dtype='object'),
 3074)